#main-heading{
text-align: center;
color: #f4d13eff;
text-transform: capitalize;
}
body{
margin:0;
padding:0;
}
.banner {
  width: 100%;
  height: 360px;
  background-image: url(banner.jpg);
  background-size: cover;
	color: #fff685;
	text-align:  center;
	text-shadow: 2px 2px 2px #f75990;
	font-size: 60pt;
}
a:hover{
color: green;
border: 1px solid red;
padding:5px;
background-color: aqua;
}
a:visited{
font-style:italic;
color:bisque;
}
a:active{
font-weight: bold;
color: red;
}
p {
  color: green;
  text-align: justify;
}
.main_content {
  text-align: justify;
  color: #bf4aa8;
}
#main-heading {
	color: #DCAE1D;
	text-shadow: 2px 2px 2px #CAE4DB;
	font: bold;
}
#task {
	color: #00a0a0;
	text-align:  center;
	font-style: italic;	
}
h3 {
	color: orange;
}
.aside_content {
	color: orange;
}
div {border-style: inset;
border-color: #4ABDAC;
border-radius: 5px; 
}

h2, th, tr, td {
 border: 2px solid;
 border-collapse: collapse;
 border-color: black;
 text-align: center;
}
nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	background-color: black;
}

nav ul li {
	display: inline-block;
	padding: 0px 10px;
}

nav ul li a {
	transition: all 0.2s ease 0s;
}

nav ul li a:link, a[href]:link {
	color: #beef00;
}

nav ul li a:visited, a[href]:visited {
	color: #beef00;
}

nav ul li a:hover, a[href]:hover {
	color: #beef00;
}

nav ul li a:active, a[href]:active {
	color: #beef00;
}
.contacts, .categories, .quick_links {
	margin-top: 15px;
	float: lefy;
}

.contacts, .categories {
	margin-right: 10%;
}

.categories, .quick_links {
	margin-left: 10%;
}

footer {
	display: flex;
}